# General ignores
node_modules/
dist/
build/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
.env # Explicitly ignore .env

# Editor/IDE specific
.vscode/
!.vscode/extensions.json # Don't ignore this specific file
.idea/

# Backend specific ignores.
backend/node_modules/
backend/dist/
backend/build/
backend/.env # Explicitly ignore backend .env

# Frontend specific ignores.
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env # Explicitly ignore frontend .env